*{
  font-family: myFirstFont;
}
header{
  background: #0959c9;
  height: 4em;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header h1{
  left: 120px;
  font-size: 24px;
}
header ul{
  position: relative;
  right: 120px;
}
header ul>li{
  display: inline-block;
  margin-left: 20px;
}
header ul>li>a{
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
#homeContent{
  position: relative;
  top: 5em;
}
#homeDiv1{
  height: 70vh;
  background-color: #2761a3;
}
#homeDiv2{
  height: 70vh;
  background-color: #1f87b5;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #1c4f93;
  border-radius: 6px;
}
#homeDiv1>h1{
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  color: #dc9207;
}
#homeDiv1 p{
  color: #cccaca;
  text-align: center;
  padding-left: 10px;
}
.balanceTitle{
  color: #dc9207 !important;
}
.fund{
  color: white !important;
}
#curve_chart{
  padding-top: 2em;
  padding-left: 3em;
}
footer{
  background-color: #2b2f32;
  height: 20em;
  position: relative;
  top: 6em;
}
footer h5{
  margin-top: 20px;
  color: white;
}
footer p{
  color: white;
}
footer p a{
  color: white;
  text-decoration: none;
}

/*my money content*/

#MyMoneyContent{
  position: relative;
  top: 5em;
}
#PrimaryAcc div{
  height: 12em;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 8px #4d5154;
}
#savingAcc div{
  height: 12em;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 8px #4d5154;
}
#savingAcc div h6{
  border-bottom: 1px solid #2b2f32;
  padding-bottom: 30px;
  display: inline-block;
}
#PrimaryAcc div h6{
  border-bottom: 1px solid #2b2f32;
  padding-bottom: 30px;
  display: inline-block;
}
#addAcc div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12em;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 8px #4d5154;
}
#addAcc div i{
  padding-right: 5px;
}
#MyMoneyContent .row>div div h4{
  padding-top: 10px;
}
#MyMoneyContent .row>div div:hover{
  background-color: #6edff6;
  transition: 1s;
}

/*payment content*/

#paymentContent{
  position: relative;
  top: 5em;
}
#displayAcc{
  margin-top: 2em;
  height: 12em;
  width: 30em;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 8px #4d5154;
}
#displayAcc:hover{
  background-color: #6edff6;
  transition: 1s;
}
#displayAcc>h4{
  padding-top: 20px;
}
