*{
  font-family: myFirstFont;
}
header{
  background: #0959c9;
  height: 4em;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header h1{
  left: 120px;
  font-size: 24px;
}
header ul{
  position: relative;
  right: 120px;
}
header ul>li{
  display: inline-block;
  margin-left: 20px;
}
header ul>li>a{
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
#homeContent{
  position: relative;
  top: 5em;
}
#homeDiv1{
  height: 70vh;
  background-color: #2761a3;
}
#homeDiv2{
  height: 70vh;
  background-color: #1f87b5;
}
footer{
  background-color: #2b2f32;
  height: 10em;
  position: relative;
  top: 6em;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #1c4f93;
  border-radius: 6px;
}
