*{
  font-family: myFirstFont;
}
header{
  background: #0959c9;
  height: 70px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header h1{
  left: 120px;
  font-size: 24px;
}
header ul{
  position: relative;
  right: 120px;
}
header ul>li{
  display: inline-block;
  margin-left: 20px;
}
header ul>li>a{
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
